.heading {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 60px;
    background-color: rgb(246, 243, 224);
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Alice', serif;
    text-align: center;
}
body {
    background-image: url('Easter28.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2b160b;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hristova {
    background-color: antiquewhite;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    
    border-radius: 50%;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-family: 'Alice', serif;
    font-size: 30px;
}
.days, .hours, .minutes, .seconds {
    font-family: 'Alice', serif;
    font-size: 40px;
}
.red {
    font-size: 60px;
    border: none;
    font-family: 'Alice', serif;
    color: red;
}
button {
    margin-left: 100px;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
}
